@font-face {
  font-family: 'Brazil Pixo Reto';
  src: url('BrazilPixoReto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
