@font-face {
  font-family: 'Brazil Pixo Reto';
  src: url('BrazilPixoReto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url('Cabin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
